.container {
  width: 87%;
  max-width: $large;
  margin: 0 auto;

  /* added for nav-toggle positioning */
  position: relative;
}

.row {
  @include for-tablet-landscape-up {
    display: flex;
    justify-content: space-between;
  }
}

.content-section {
  padding: 30px 0 1px;
  @include for-tablet-landscape-up {
    padding: 60px 0 1px;
  }
}
