// Vertical center
.vertical-center {
    display: flex;
    align-items: center;
    // justify-content: center;
  }


  .text-center {
    text-align: center;
  }

  .padding-right {

    @include for-tablet-landscape-up {
      padding-right: 9rem;
    }
    
  } 

  .padding-left {

    @include for-tablet-landscape-up {
      padding-right: 9rem;
    }
  }