.hero {
    // padding: 100px 0;
    // background-color: #23424A;
    color: #454545;


    h1 {
        color: #462686;
        font-weight: 700;
    }
   

   
        &__img {
            
            margin-top: 2em;
            @include for-tablet-landscape-up  {
                width: 49%;
                align-self: flex-start;
                margin: 0;
                padding: 80px 0;
            }
        }


        &__text {
            @include for-tablet-landscape-up {
                width: 33%;
                padding: 100px 0;
            }

            
        }

    
}