.hero {
    // padding: 100px 0;
    // background-color: #23424A;
    color: #454545;


    h1 {
        color: #462686;
        font-weight: 700;
        font-size: 35px;
        
    }

    p {
        padding-bottom: 2em;
        line-height: 33px;
    }


    &__btn {
             padding: 1.25em 3em;
             background:#462686;
             color: #fff !important;
             border-radius: 100px;
    }
   

   
        &__img {
            
            margin-top: 2em;
            @include for-tablet-landscape-up  {
                width: 49%;
                align-self: flex-start;
                margin: 0;
                padding: 80px 0;
            }
        }


        &__text {
            @include for-tablet-landscape-up {
                width: 38%;
                padding: 100px 0;
            }

            
        }

    
}