*, *::before, *::after {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, 'Sofia', cursive;
 
}

body {
    margin: 0;
    // font-family: 'Sofia Pro', sans-serif;
    font-size: 1.3rem;
    // font-family:  -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif !default;
  
}

img {
    max-width: 100%;
}


a,
a:visited,
a:hover {
  text-decoration: none;
  
  
}