


*, *::before, *::after {
    box-sizing: border-box;
}

html {
  //   -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  // font-family: 'Poppins', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // font: $font-style $font-variant $font-weight #{$font-size}/#{$line-height} $font-family;
  font-family: 'Poppins', sans-serif;
  // font-size: $font-size;
 
}

body {
    // margin: 0;
    // font-size: 1.2rem;

    margin: 0;
    // font-size: $body-font-size;
    color: $font-color;
    font-size: $font-size;
    
    
  
}

p {
  font-size: $body-font-size;
  line-height: 33px;
}


// Heading individual styles
h1 {
  font-size: $h1-mobile !important;
}

h2 {
  font-size: $h2-mobile !important;
}

h3 {
  font-size: $h3-mobile !important;
}

@include for-tablet-portrait-up {

  h1 {
    font-size: $h1 !important;
  }

  h2 {
    font-size: $h2 !important;
  }

  h3 {
    font-size: $h3 !important;
  }

}

img {
    max-width: 100%;
}


a,
a:visited,
a:hover {
  text-decoration: none;
  font-size: 0.9rem;
  ;
  
  
}


ul {
  padding: 0;
  list-style: none;
}