$small: 37.5em; // 600px/16
$medium: 56.25em; // 900px/16
$large: 75em; // 1200px/16
$extra-large: 112.5em; // 1800px/16

// $mobile: $x-small;
// $tablet: $small;
// $desktop: $medium;
// $large-desktop: $large;

$color-primary: #454545;


$font-size: 1.2rem !default;
$body-font-size: 0.9rem !default;
